<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/" class="navbar-brand" href="">Home</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Login</h1>
        <div ng-show="model.message" class="alert alert-danger">{{model.message}}</div>
        <form novalidate>
            <label for="username">Username</label>
            <input  autocorrect="off" 
                    autocapitalize="off"
                    ng-model="username"
                    type="text"
                    id="username" 
                    class="form-control" 
                    placeholder="johndoe">

            <div ng-show="model.messageUserName" class="alert alert-danger">{{model.messageUserName}}
            </div>

            <label for="password">Password</label>
            <input  ng-model="password"
                    type="password" 
                    id="password" 
                    class="form-control" 
                    placeholder="webdevelopment"
                    required>

            <div ng-show="model.messagePassword" class="alert alert-danger">{{model.messagePassword}}
            </div>

            <input  ng-click="model.login(username, password)"
                    class="btn btn-block btn-primary"
                    type="submit" 
                    value="Login">

            <a  class="btn btn-success btn-block"
                href="#!/register">
                Register
            </a>
            <div class="col-sm-4">
                <a href="/auth/google" class="btn btn-lg btn-danger btn-block btn-google">
                    <span class="fa fa-google-plus"></span>
                    Google
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/auth/facebook" class="btn btn-lg btn-primary btn-block btn-facebook">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/auth/github" class="btn btn-lg btn-info btn-block btn-github">
                    <span class="fa fa-github"></span>
                    Github
                </a>
            </div>
    </form>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom bg-primary"></nav>
