<nav class="navbar navbar-fixed-top bg-primary"></nav>
<div class="container-fluid">
    <h1>Register</h1>
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
    <form>
    	<label 	for="username">Username</label>
	    <input 	ng-model="username"
	    		type="text" 
	    		id="username" 
	    		class="form-control"
	    		placeholder="ronaldo">

	    <label 	for="password">Password</label>
	    <input 	ng-model="password"
	    		type="password" 
	    		id="password" 
	    		class="form-control" 
	    		placeholder="webdevelopment">

	    <label 	for="vpassword">Verify password</label>
	    <input 	ng-model="vpassword"
	    		type="password" 
	    		id="vpassword" 
	    		class="form-control"
	    		placeholder="webdevelopment">

	    <input 	ng-click="model.register(username,password,vpassword)"
	    		class="btn btn-primary btn-block"
	    		type="submit"
	    		value="Register">
	    </input>
	    <a  class="btn btn-success btn-block"
	    	href="#!/login">
	    	Cancel
        </a>
    </form>
</div>
<nav class="navbar navbar-fixed-bottom bg-primary"></nav>
