body {
  background-color: #5a5a5a;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px; 
    background-repeat: no-repeat;    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }

.custom-input-file{
  background:#fff;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; 
  }
    .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
