body {
    padding-top: 70px;
    padding-bottom: 60px;
}

.team-image{
    max-height: 330px;
    max-width: 500px;
}

.glyph{
    padding-left: 15px;
}

a.navbar-brand{
	color: white;
}

.wall{
	color: #fff;
	font-size: 16px;
}

.wall:hover{
	color: white;
}

span.glyphicon.glyphicon-trash{
	color: white;
}

.alert-label{
	margin-left: 28px;
}

.flight-tickets{
	margin-bottom: 10px; 
	border: solid black 1px;
	padding: 2px;
}

.matchLogo{
	float: left;
	padding-right: 10px;
	height: 150px;
}

@media screen and (max-width:600px){
	.matchLogo{
		float: none;
		width: 100%;
		text-align: center;
		height: none;
	}
}

.sidebar-buttons{
	margin-bottom: -5px;
	border-radius: 0;
	border: none;
}

.btn-car{
	padding-top: 3px;
	word-wrap: break-word;
}

.post-header{
	font-size:30px;
}

.post-image{
	margin-right:8px; 
	margin-top:-5px;
}

.post-image-comment{
	margin-left:3px; 
	margin-right:-5px;
}

.post-time-color{
	color: grey;
	text-decoration: none;
}

.post-time-color:hover{
	text-decoration: none;
	color: grey;
}

.post-like-color{
	color: red;
}

.post-viwership{
	margin-left:5px;
}

.post-comment{
	margin-right:8px; 
	margin-top:-5px;
}

.like-space{
	padding-left: 5px;
}

.more-posts{
	margin-bottom: 50px;
}