body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: rgb(238,238,238); 
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

div.container.text-center{
	padding-top: 5%;
}

div.container.text-center.hidden-lg{
	padding-top: 35%;
}