<link rel="stylesheet" href="assets/css/wall.css">
<div class="navbar-wrapper">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand nav-brand" href="#!/">
                        <img alt="Brand" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nfl.png&w=400&h=400" width="30px" height="30px">
                    </a>
                    <a class="navbar-brand" href="#!/wall">Super Bowl</a>
                    <i class="brand_network"><small><small>Ticket Manager</small></small></i>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/tickets">Book Tickets</a></li>
                        <li class="active"><a href="#!/itinerary">Itinerary</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="user-name">
                                        {{model.user.first_name}}
                                </span>
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-content">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <img src="{{model.user.image}}" width="120px" height="120px" />
                                                <p class="text-center small">
                                                    <a href="#!/profile">Change Photo</a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{model.user.first_name}} {{model.user.last_name}}</span>
                                                <p class="text-muted small">
                                                    {{model.user.email}}
                                                </p>
                                                <div class="divider">
                                                </div>
                                                <a href="#!/profile" class="btn btn-default btn-block btn-xs"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-footer">
                                        <div class="navbar-footer-content">
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-2">
                                                    <a href="#" 
                                                    ng-click="model.logout()"
                                                    class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="alert alert-info" ng-show="model.tickets.length < 1">
        <center><h3>USER HAS NO BOOKINGS!</h3></center>
    </div>
    <div ng-repeat="ticket in model.tickets">
        <div class="well well-lg">
            <h3>{{ticket.type | uppercase}}</h3>
            <h5>{{ticket.name}}</h5>
            <h5>{{ticket.date | date}}</h5>
            <h5>{{ticket.time}}</h5>
            <h5>{{ticket.venue}}</h5>
            <h5>{{ticket.address}}</h5>
            <h5>{{ticket.city}}</h5>
            <h5>{{ticket.return}}</h5>
            <h5>{{ticket.class}}</h5>
            <h5>{{ticket.price}}</h5>
            <h5>{{ticket.airline}}</h5>
            <div ng-if="ticket.slices">
                <div ng-repeat="flights in ticket.slices">
                    <div ng-repeat="flight in flights.segments">
                        <h5>Flight : {{flight.carrier}} {{flight.number}}</h5>
                        <div ng-repeat="info in flight.legs">
                            <h5>{{info.origin}} {{info.departure | date}} {{info.destination}} {{info.arrival | date}}</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
            <h5>{{ticket.phone}}</h5>
            <h5>{{ticket.roomType}}</h5>
            <h5>{{ticket.beds}}</h5>
            <h5>{{ticket.company}}</h5>
            <h5>{{ticket.transmission}}</h5>
            <h5>{{ticket.category}}</h5>
            <a ng-click="model.cancelBooking(ticket._id)" class="btn btn-danger">Cancel Ticket</a>
        </div>
    </div>
</div>

