<div class="form-group">
    <label  for="name ">Name</label>
    <input  ng-model="model.widget.name"
            type="text" 
            class="form-control" 
            id="name" 
            placeholder="Widget Name">

    <label  for="text">Text</label>
    <input  ng-model="model.widget.text"
            class="form-control" 
            id="text" 
            type="text" 
            placeholder="Text">

    <label for="size">Size</label>
    <select 
            ng-model="model.widget.size"
            type="text" 
            id="size" 
            class="form-control">
        <option value="1">1 (X-Large)</option>
        <option value="2">2 (Large)</option>
        <option value="3">3 (Medium)</option>
        <option value="4">4 (Small)</option>
        <option value="5">5 (Smallest)</option>
    </select>
    <a  ng-click="model.deleteWidget()" 
        class="btn btn-danger btn-block">
        Delete
    </a>
</div>