<div class="form-group">
    <label 	for="name ">Name</label>
    <input 	ng-model="model.widget.name"
    		type="text" 
    		class="form-control" 
    		id="name" 
    		placeholder="Widget Name">

    <div ng-show="model.widgetName" class="alert alert-danger">{{model.widgetName}}</div>

    <label 	for="text">Text</label>
    <input 	ng-model="model.widget.text"
    		class="form-control" 
    		id="text" 
    		type="text" 
    		placeholder="Text">

    <label 	for="url">URL</label>
    <input 	ng-model="model.widget.url"
    		class="form-control" 
    		id="url" 
    		type="url" 
    		placeholder="URL">

    <label 	for="width">Width</label>
    <input 	ng-model="model.widget.width"
    		class="form-control" 
    		id="width" 
    		type="text" 
    		name="width">
    		
    <a 	ng-click="model.deleteWidget()"  
    	class="btn btn-danger btn-block">
    	Delete
    </a>
</div>

