<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../widget/widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="navbar-text pull-right">
            <a href="../widget/widget-list.html">
                <span class="glyphicon glyphicon-ok"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widget Edit</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name ">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Widget Name" value="">
            <label for="text">Text</label>
            <input class="form-control" id="text" type="text" placeholder="Text" value="">
            <label for="url">URL</label>
            <input class="form-control" id="url" type="url" placeholder="URL" value="https://www.youtube.com/embed/fGAfIpVcKgw">
            <label for="width">Width</label>
            <input class="form-control" id="width" type="text" name="width" value="100%">
            <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
        </div>
    </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html"><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
