<form action="/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">

        <label  for="name ">Name</label>
        <input  ng-model="model.widget.name"
                type="text" 
                class="form-control" 
                id="name" 
                placeholder="Widget Name">

        <label  for="text">Text</label>
        <input  ng-model="model.widget.text"
                class="form-control" 
                id="text" 
                type="text" 
                placeholder="Text">

        <label  for="url">URL</label>
        <input  ng-model="model.widget.url"
                class="form-control" 
                id="url"
                type="url" 
                placeholder="URL">

        <label  for="width">Width</label>
        <input  ng-model="model.widget.width"
                class="form-control" 
                id="width" 
                type="text" 
                placeholder="width">

        <label  for="imageUpload">Upload</label>
        <input  name="myFile"
                type="file"
                id="imageUpload"
                class="form-control">
        <input  name="userId"
                value="{{model.userId}}"
                class="hidden">
        <input  name="websiteId"
                value="{{model.websiteId}}"
                class="hidden"/>
        <input  name="pageId"
                value="{{model.pageId}}"
                class="hidden">
        <input  name="widgetId"
                value="{{model.widget._id}}"
                class="hidden">
        <button type="submit"
                class="btn btn-block btn-primary">
                    Upload Image
        </button>
        <a  href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/flickr" 
            class="btn btn-block btn-success">
                Search Flickr
        </a>
        <a  ng-click="model.deleteWidget()" 
            class="btn btn-danger btn-block">
            Delete
        </a>
    </div>
</form>