<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" href="">
                <span class="glyphicon glyphicon-ok"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Widget Edit</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ng-include src="model.editWidgetUrl(model.widget)"></ng-include>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/profile"><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
