<link rel="stylesheet" type="text/css" href="assets/css/user.css">
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        	<ul class="navbar-brand">
        		<a href="#!/" class="home">
        			<span class="glyphicon glyphicon-home"></span>
        		</a>
            </ul>
       </div>
    </div>
</nav>

<h1>Welcome back!</h1>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <p class="user-preference">Login</p>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form>
        <ul>
            <li>
            	<span class="glyphicon glyphicon-user glyph"></span> 
                <input type="text" class="text" placeholer="Email Address">
            </li>
            <li>
            	<span class="glyphicon glyphicon-lock glyph"></span> 
                <input type="password" placeholer="Password">
            </li>
        </ul>
    </form>
    <div class="submit">
        <input type="submit" onclick="myFunction()" value="Log in">
        <input id="reg" type="submit" onclick="myFunction()" value="Register">
    </div>
</div>
