<link rel="stylesheet" type="text/css" href="assets/css/profile.css">
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
              <a class="wall" href="#!/wall">Wall</a>
              <a class="wall" ng-click="model.logout()" href="">Logout</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Profile</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form   class="form-horizontal"
            action="/api/project/upload" 
            method="post" 
            enctype="multipart/form-data">
            
            <div class="form-grup">
              <label class="col-sm-5 control-label">Avatar</label>
                <div class="custom-input-file" 
                    style="background: #eee url({{model.user.image}}); background-size: 130px">
                    <label class="uploadPhoto">
                        Edit
                        <input  type="file" 
                                name="myFile" 
                                class="change-avatar" 
                                id="avatar">
                    </label>
                </div>
            </div>
            <input  name="userId" 
                    value="{{model.userId}}" 
                    style="display: none"/>
            <br>
            <center>
                <button type="submit"
                        class="btn btn-primary btn-sm">
                            Upload Image
                </button>
            </center>
    </form>
    <br><br>
    <form class="form-horizontal">
        <center>
            <label  ng-show="model.message" 
                    class="alert alert-success">
                        {{model.message}}
            </label>
        </center>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="fname">First Name</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.first_name"
                        type="text" 
                        class="form-control"
                        id="fname"
                        value=""
                        placeholder="John">
            </div>
        </div>
        <br>
        <br><div class="form-grup">
            <label class="col-sm-5 control-label" for="lname">Last Name</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.last_name"
                        type="text" 
                        id="lname"
                        class="form-control"
                        value=""
                        placeholder="Doe">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="gender">Gender</label>
            <div class="col-sm-3">
                <select class="form-control"
                        type="text"
                        ng-model="model.user.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="birthday">Birthday</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.birthday"
                        type="text" 
                        id="year"
                        class="form-control"
                        value=""
                        placeholder="YYYY-MM-DD">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="email">Email</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.email"
                        type="email"
                        id="email" 
                        class="form-control"
                        value=""
                        placeholder="john.doe@superbowl.com">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="phone">Phone Number</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.phone"
                        type="number" 
                        id="phone"
                        class="form-control"
                        value=""
                        placeholder="1234567890">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="bio">Bio</label>
            <div class="col-sm-3">
                <textarea   class="form-control"
                            ng-model="model.user.bio"
                            id="bio"
                            rows="1">
                </textarea>
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="location">Location</label>
            <div class="col-sm-3">
                <input  ng-model="model.user.location"
                        type="text" 
                        id="location"
                        class="form-control"
                        value=""
                        placeholder="Boston, MA">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="team">Team</label>
            <div class="col-sm-3">
              <select 
                      ng-model="model.user.team"
                      type="text"
                      id="team"
                      class="form-control">
                      <option   value="1">----Select----</option>
                      <option   ng-repeat="team in model.teams | orderBy : 'name'"
                                value="{{team.name}}">
                                    {{team.name}}
                      </option>
              </select>
            </div>
        </div>
        <br>
        <br>
        <center>
            <label  ng-show="model.error" 
                    class="alert alert-danger alert-label">
                        {{model.error}}
            </label>
        </center>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="newPassword">New Password</label>
            <div class="col-sm-3">
                <input  ng-model="password"
                        type="password" 
                        class="form-control" 
                        id="newPassword">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <label class="col-sm-5 control-label" for="confirmPassword">Confirm Password</label>
            <div class="col-sm-3">
                <input  ng-model="password2"
                        type="password" 
                        class="form-control"
                        id="confirmPassword">
            </div>
        </div>
        <br>
        <br>
        <div class="form-grup">
            <center>
                <a  class="btn btn-success"
                    ng-click="model.update(model.user,password,password2)">
                    Update info
                </a>
            </center>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $('[id^=detail-]').hide();
    $('.toggle').click(function() {
        $input = $( this );
        $target = $('#'+$input.attr('data-toggle'));
        $target.slideToggle();
    });
});
</script>

<br><br><br>
<div class="container-fluid">
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                    <div class="col-xs-10">
                        Following 
                        <span   class="badge"
                                ng-show="model.user.following.length > 0">
                            {{model.user.following.length}}
                        </span>
                    </div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                </div>
                <div id="detail-1">
                    <hr></hr>
                    <div class="container">
                        <div    class="fluid-row" 
                                ng-repeat="following in model.user.following">
                            <ul class="title-content-list">
                                <li>
                                    <div class="title">{{following.name}}</div>
                                    <div class="content">
                                        <a  href="" 
                                            class="btn btn-success"
                                            ng-click="model.unfollowUser(model.user._id, following.id)">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            unfollow
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                    <div class="col-xs-10">
                        Followers 
                        <span   class="badge" 
                                ng-show="model.user.followers.length > 0">
                            {{model.user.followers.length}}
                        </span>
                    </div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                </div>
                <div id="detail-2">
                    <hr></hr>
                    <div class="container">
                        <div    class="fluid-row" 
                                ng-repeat="follower in model.user.followers">
                                <ul class="title-content-list">
                                    <li>
                                        <a href="#!/profile/{{follower.id}}">
                                            {{follower.name}}
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="" ng-click="model.deleteUser(model.user._id)"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
    </div>
</nav>
