<link rel="stylesheet" type="text/css" href="assets/css/user.css">
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <ul class="navbar-brand">
                <a href="#!/" class="home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </ul>
       </div>
    </div>
</nav>
<h1>Join Us!</h1>
<div class="col-sm-4 col-sm-offset-4">
    <div    ng-show="model.message" 
            class="alert alert-danger alert text-center">
            {{model.message}}
    </div>
</div>
<br><br>
<div class="login">
    <div class="ribbon-wrapper h2 ribbon-red">
        <div class="ribbon-front">
            <p class="user-preference">Register</p>
        </div>
        <div class="ribbon-edge-topleft2"></div>
        <div class="ribbon-edge-bottomleft"></div>
    </div>
    <form>
        <ul>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span> 
                    </div>
                    <input  ng-model="username"
                            type="text" 
                            class="form-control"
                            name="username"
                            placeholder="username">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span> 
                    </div>
                    <input  ng-model="first_name"
                            type="text" 
                            class="form-control"
                            name="fname"
                            placeholder="First Name">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span> 
                    </div>
                    <input  ng-model="last_name"
                            type="text" 
                            class="form-control"
                            name="lname"
                            placeholder="Last Name">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span> 
                    </div>
                    <input  ng-model="password"
                            type="password" 
                            class="form-control" 
                            name="email"
                            placeholder="password">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span> 
                    </div>
                    <input  ng-model="password2"
                            type="password" 
                            class="form-control" 
                            name="email"
                            placeholder="verify password">
                </div>
            </li>
        </ul>
    </form>
    <div class="submit">
        <input  type="submit" 
                ng-click="model.register(username,password,password2,first_name,last_name)" 
                value="Register">
    </div>
</div>
