<link rel="stylesheet" href="assets/css/wall.css">
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand nav-brand" href="#!/">
                                <img alt="Brand" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nfl.png&w=400&h=400" width="30px" height="30px">
                            </a>
                            <a class="navbar-brand" href="#!/wall">Super Bowl</a>
                            <i class="brand_network"><small><small>Ticket Manager</small></small></i>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#!/tickets">Book Tickets</a></li>
                                <li><a href="#!/itinerary">Itinerary</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="user-avatar pull-left">
                                    </span>
                                        <span class="user-name">
                                        {{model.user.first_name}}
                                    </span>
                                        <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <img src="{{model.user.image}}" alt="Alternate Text" class="img-responsive" width="120px" height="120px" />
                                                        <p class="text-center small">
                                                            <a href="#!/profile">Change Photo</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>{{model.user.first_name}} {{model.user.last_name}}</span>
                                                        <p class="text-muted small">
                                                            {{model.user.email}}</p>
                                                        <div class="divider">
                                                        </div>
                                                        <a href="#!/profile" class="btn btn-default btn-block btn-xs"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-footer">
                                                <div class="navbar-footer-content">
                                                    <div class="row">
                                                        <div class="col-md-6 col-md-offset-2">
                                                            <a href="" 
                                                            ng-click="model.logout()"
                                                            class="btn btn-default btn-sm pull-right"><i class="fa fa-power-off" aria-hidden="true"></i> Sign Out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top:50px;"> </div>
<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div align="center">
                    <img class="thumbnail img-responsive" src="{{model.user.image}}" width="300px" height="300px">
                </div>
                <div class="media-body">
                    <hr>
                    <h3><strong>Bio</strong></h3>
                    <p>{{model.user.bio}}</p>
                    <hr>
                    <h3><strong>Location</strong></h3>
                    <p>{{model.user.location}}</p>
                    <hr>
                    <h3><strong>Gender</strong></h3>
                    <p>{{model.user.gender}}</p>
                    <hr>
                    <h3><strong>Birthday</strong></h3>
                    <p>{{model.user.birthday | date}}</p>
                    <hr>
                    <h3><strong>Team</strong></h3>
                    <p>{{model.user.team}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <span>
                <h1 class="panel-title pull-left post-header">{{model.user.first_name}} {{model.user.last_name}}
                </h1>
            </span>
            <br>
            <hr>
            <h4>Whats on your mind?</h4>
            <textarea   rows="2" 
                        class="form-control"
                        ng-model="model.post.text">
            </textarea>
            <hr>
            <span class="pull-left">
                <a  ng-click="model.addPhotoToPost()"
                    href="" 
                    class="btn btn-link">
                    <i  class="fa fa-fw fa-picture-o" 
                        aria-hidden="true">
                    </i> 
                    Add Photo
                </a>
            </span>
            <input  ng-show="model.imageUrl"
                    ng-model="model.post.image"
                    type="url" 
                    name="image" 
                    class="form-control">
            <br ng-show="model.imageUrl">
            <span class="pull-right">
                <a  href="" 
                    ng-click="model.newPost(model.post)" 
                    class="btn btn-success">Post</a>
            </span>
            <span   ng-show="model.edit"
                    class="pull-right">
                <a  href="" 
                    ng-click="model.updatePost(model.post)" 
                    class="btn btn-primary">Update</a>
            </span>
        </div>
    </div>
    <br>
    <div ng-repeat="post in model.posts | orderBy : '-time' | limitTo:model.postQuantity track by $index">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left">
                    <a href="">
                        <img    class="media-object img-circle post-image" 
                                src="{{post.userImage}}" 
                                width="50px" height="50px">
                    </a>
                </div>
                <h4>
                    <a href="#!/profile/{{post.userId}}" 
                        style="text-decoration: none">
                        <strong>{{post.name}}</strong>
                    </a>
                     - 
                    <small><small>
                        <a class="post-time-color">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{model.calculateTime(post.time)}} • {{model.postEdited(post.edited)}}
                        </a>
                    </small></small>
                </h4>
                <span>
                    <div class="navbar-right">
                        <div class="dropdown">
                            <button class="btn btn-link btn-xs dropdown-toggle" 
                                    type="button" 
                                    id="dd1" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="true">
                                <i  class="fa fa-cog" 
                                    aria-hidden="true">
                                </i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" 
                                aria-labelledby="dd1" 
                                style="float: right;">
                                <li>
                                    <a  href=""
                                        ng-click="model.editPost(post)">
                                        <i  class="fa fa-pencil" 
                                            aria-hidden="true">
                                        </i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a  href="" 
                                        ng-click="model.deletePost(post._id)">
                                        <i  class="fa fa-trash" 
                                            aria-hidden="true">
                                        </i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
        <hr>
        <div class="post-content">
            <p id="postText">{{post.text}}</p>
            <img    class="img-responsive" 
                    ng-src="{{post.image}}" 
                    height="200" width="200">
            <p>
                <br>
                <a  ng-repeat="hashtag in post.hashtags track by $index"    
                    href="" 
                    class="tag">{{hashtag}} 
                </a>
            </p>
        </div>
        
        <div>
            <div    class="pull-right btn-group-xs like-space">
                <a ng-click="model.likePost(post._id)">
                    <i  class="fa fa-thumbs-up" 
                        aria-hidden="true">
                    </i>Like
                </a>
            </div>
            <div class="pull-left">
                <p  class="text-muted post-viwership">
                    <i class="fa fa-thumbs-up" 
                        aria-hidden="true">
                    </i> 
                    {{post.like}}
                </p>
            </div>
            <br>
        </div>
        <hr>

        <div ng-repeat="comment in post.comments | limitTo:model.quantity(post._id)"">
            <div class="post-content">
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="">
                                <img    class="media-object img-circle post-comment" 
                                        src="{{comment.userImage}}" 
                                        width="35px" height="35px" >
                            </a>
                        </div>
                        <h4>
                            <a href="#!/profile/{{comment.userId}}" style="text-decoration:none;">
                                <strong>{{comment.user}}</strong>
                            </a>
                        </h4>
                        <span>
                            <div class="navbar-right">
                                <div class="dropdown">
                                    <button class="btn btn-link btn-xs dropdown-toggle" 
                                            type="button" 
                                            id="dd1" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="true">
                                        <i  class="fa fa-cog" 
                                            aria-hidden="true">
                                        </i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" 
                                        aria-labelledby="dd1" 
                                        style="float: right;">
                                        <li>
                                            <a ng-click="model.deleteComment(comment._id, post._id)">
                                                <i  class="fa fa-trash" 
                                                    aria-hidden="true">
                                                </i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                        <hr>
                        <div class="post-content">
                            <p>{{comment.text}}</p>
                            <small><small>
                                <a href="" style="text-decoration:none; color:grey;">
                                    <i>
                                        <i  class="fa fa-clock-o" 
                                            aria-hidden="true">
                                        </i> 
                                        {{model.calculateTime(comment.time)}}
                                    </i>
                                </a>
                            </small></small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <a  ng-click="model.showMoreComments(post._id)"
            ng-hide="post.comments.length <= model.quantity(post._id)"
            class="btn btn-default btn-xs" 
            ng-show="post.comments.length > 2">
            <i class="fa fa-bars" aria-hidden="true"></i> 
            Show more comments
        </a>
        <div class="media">
            <div class="pull-left">
                <a href="">
                    <img    class="media-object img-circle post-image-comment" 
                            src="{{model.user.image}}" 
                            width="35px" height="35px">
                </a>
            </div>
            <div class="media-body">
                <div class="input-group">
                    <input  class="form-control" 
                            type="text" 
                            ng-model="comment"
                    >
                    <span class="input-group-btn">
                        <button ng-click="model.addComment(post._id,comment)"
                                class="btn btn-info">Comment</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<a  ng-click="model.morePosts()"
    class="btn btn-info btn-block more-posts"
    ng-show="model.posts.length > model.postQuantity"
    ng-hide="model.posts.length <= model.postQuantity">
    <i class="fa fa-bars" aria-hidden="true"></i> 
        Show more posts
</a>