<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#!/website/{{model.websiteId}}/page/">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#!/website/{{model.websiteId}}/page/new">
                    <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Pages</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="navbar-text pull-left hidden-md hidden-lg hidden-sm">
                <a href="#!/website/{{model.websiteId}}/page/">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updatePage(model.page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Edit Page</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs page-divide">
            <ul class="list-group">
                <li ng-hide="model.message" class="list-group-item borderless active">
                    Name
                </li>
                <li class="list-group-item borderless" ng-repeat="page in model.pages">
                    <a href="#!/website/{{model.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#!/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
            <div ng-show="model.message" class="alert alert-info">
                {{model.message}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right ">
            <form>
                <div class="form-group">
                    <label  for="name">Name</label>
                    <input  ng-model="model.page.name"
                            type="text" 
                            class="form-control" 
                            id="name" 
                            placeholder="Page Name">

                    <label  for="title">Title</label>
                    <input  ng-model="model.page.description"
                            class="form-control" 
                            type="text" 
                            id="title" 
                            placeholder="Page Title">

                    <a ng-click="model.deletePage(model.page._id)" class="btn btn-danger btn-block">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/profile"><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>